name: Test

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions: {}

jobs:
  test:
    name: "Pytest"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install "homeassistant>=2024.1.0"
          python3 -m pip install -r tests/requirements.txt
          python3 -m pip install "py-mercury-switch-api>=0.1.0"

      - name: Run pytest
        run: python3 -m pytest tests/ -v --tb=short
